.body {
  margin: 1px;
  overflow: inherit;
  z-index: -1;
  text-decoration: none;
}

.navbar {
  background-color: #5B26F1;
  color: #5B26F1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-left: -9px;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: "futura";
}

.logoButton {
  background-color: #5B26F1;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  display: inline-block;
}

.logoButton:hover{
  cursor: pointer;
}

.button {
  background-color: white;
  border: none;
  color: #5B26F1;
  padding: 9px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
}

.button:hover{
  cursor: pointer;
}

.button:focus {outline:0;}

.button1 {
  border-radius: 45px;
  border: none;
  background-color: white;
  color: #5B26F1;
  padding: 9px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
}

.button1:hover{
  cursor: pointer;
}

.button2 {
  border-radius: 45px;
  background-color: #5B26F1;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  padding: 9px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
}

.button2:hover{
  cursor: pointer;
}

.button3 {
  border-radius: 45px;
  border: none;
  background-color: #F1D926;
  color: #5B26F1;
  padding: 9px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
}

.button3:hover{
  cursor: pointer;
}

.button4 {
  border-radius: 45px;
  border: none;
  background-color: #5B26F1;
  color: #FFFFFF;
  padding: 15px 30px;
  font-size: 17px;
}

.button4:hover{
  cursor: pointer;
}

.PageTitle{
  position: absolute;
  margin: auto;
  top: 100px;
  left: 75px;
  font-size: 28px;
  font-family: "helvetica";
  color: #5B26F1;
  font-weight: bold;
}

.PostTitle {
  position: relative;
  font-size: 28px;
  font-family: "helvetica";
  color: #5B26F1;
  font-weight: bold;
  margin-top: 10px;
}

.container{
  margin-top: 25px;
  top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.PostDetailContainer{
  width: 650px;
  padding: 10px;
}

.PostBriefDescription{
  position: relative;
  display: flex;
  margin-top: 20px;
  font-size: 24px;
  font-family: "helvetica";
  color: #5B26F1;
  font-weight: bold;
}

.PostDetailedDescription{
  position: relative;
  margin-top: 15px;
  font-size: 16px;
  height: 74px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "helvetica";
  color: #000000;
}

.PostDetailedDescription::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.9) 100%);
}

.PostDetailedDescriptionFull{
  position: relative;
  margin-top: 25px;
  font-size: 16px;
  font-family: "helvetica";
  color: #000000;
}

.PostSubTitle3{
  position: relative;
  display: inline-block;
  top: 125px;
  left: 235px;
  font-size: 20px;
  font-family: "helvetica";
  color: #000000;
  font-weight: bold;
}

.mainbutton {
  position: relative;
  margin-top: 20px;
  margin-bottom: 5px;
}

.RequestListing{
  position: relative;
  margin: 10px;
  padding: 25px;
  height: 180px;
  width: 650px;
  font-family: "helvetica";
  border: 2px solid #5B26F1;
  border-radius: 45px;
}

.RequestListing:hover{
  cursor: pointer;
}

.PostMetaDataContainer{
  position: relative;
  display: flex;
  height: 26px;
  width: 100%;
}

.RequestListingAccountPicContainer {
  position: relative;
  float: left;
  height: 26px;
  width: 26px;
}

.RequestListingAccountPic{
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.RequestListingPostMetaData {
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MessageBox{
  position: relative;
  margin-top: 10;
  margin-bottom: 10;
  height: 150;
  width: 650;
  font-family: "helvetica";
  font-size: 18px;
  border: 2px solid #000000;
  border-radius: 18px;
  padding: 15;
}

.TextCounter{
  font-size: 12px;
  color: grey;
  float: right;
  margin-right: 5px;
}

.SmallTextBox{
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 30px;
  width: 97%;
  font-family: "helvetica";
  font-size: 16px;
  border: 2px solid #5B26F1;
  border-radius: 18px;
  padding: 5px;
  padding-left: 10px;
}

.LargeTextBox{
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 180px;
  width: 97%;
  font-family: "helvetica";
  font-size: 16px;
  border: 2px solid #5B26F1;
  border-radius: 18px;
  padding: 10px;
}

.InputFieldContainer{
  display:inline-block;
  margin-top: 20px;
  width: 700px;
}

.InputFieldName{
  position: relative;
  font-family: "helvetica";
  color:#5B26F1;
  margin-top: 10;
  font-size: 22px;
  margin-right: 10;
  width: 100%;
}

.InputFieldNameCentered{
  position: relative;
  text-align: center;
  font-family: "helvetica";
  color:#5B26F1;
  margin-top: 10;
  font-size: 22px;
}

.InputRadioContainerCentered{
  position: relative;
  text-align: center;
  margin-top: 5px;
}

.UrlPathContainer{
  display: flex;
  flex-direction: row;
}

.UrlPathHostContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}

#checkboxtext{
  font-family: "helvetica";
  color:#5B26F1;
  font-size: 22px;
}

.input:focus, .textarea:focus, .select:focus{
  outline: none;
}

.topBufferContainer {
  margin-top: 15px;
}

.usageContainer {
  margin-top: 25px;
  position: relative;
  display: flex;
}

.usageTag {
  background-color: white;
  color: #0070f3;
  font-size: 14px;
  border: 1px solid #0070f3;
  border-radius: 20px;
  padding: 0px 15px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simpleText{
  display: flex;
  justify-content: center;
  align-items: center;
}
