.body {
  margin: 1px;
  overflow: inherit;
  z-index: -1;
  text-decoration: none;
}

.navbar {
  background-color: #5B26F1;
  color: #5B26F1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-left: -9px;
}

.navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: "futura";
}

.button {
  background-color: white;
  border: none;
  color: #5B26F1;
  padding: 9px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
}

.button1 {
  border-radius: 45px;
  border: none;
  background-color: white;
  color: #5B26F1;
  padding: 9px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
}

.button2 {
  border-radius: 45px;
  background-color: #5B26F1;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  padding: 9px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
}

.button3 {
  border-radius: 45px;
  border: none;
  background-color: #F1D926;
  color: #5B26F1;
  padding: 9px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
}

.button4 {
  border-radius: 45px;
  border: none;
  background-color: #5B26F1;
  color: #FFFFFF;
  padding: 15px 30px;
  font-size: 17px;
}

.button:focus {outline:0;}

.PageTitle{
  position: absolute;
  margin: auto;
  top: 100px;
  left: 75px;
  font-size: 28px;
  font-family: "helvetica";
  color: #5B26F1;
  font-weight: bold;
}

.container{
  margin-top: 25px;
  top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.PostTitle{
  position: relative;
  display: inline-block;
  margin: 5px;
  margin-top: 12px;
  margin-left: 10px;
  font-size: 28px;
  font-family: "helvetica";
  color: #5B26F1;
  font-weight: bold;
}

.PostTitle2{
  position: absolute;
  display: inline-block;
  top: 100px;
  left: 75px;
  margin: 20px;
  font-size: 28px;
  font-family: "helvetica";
  color: #5B26F1;
  font-weight: bold;
}

.PostSubTitle{
  position: relative;
  /*display: inline-block;*/
  margin-top: 1px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "helvetica";
  color: #000000;
  font-weight: bold;
}

.PostSubTitle2{
  position: relative;
  margin-left: 20px;
  margin-right: 30px;
  font-size: 20px;
  font-family: "helvetica";
  color: #000000;
  /*font-weight: bold;*/
}

.PostSubTitle3{
  position: relative;
  display: inline-block;
  top: 100px;
  left: 235px;
  font-size: 20px;
  font-family: "helvetica";
  color: #000000;
  font-weight: bold;
}

.PostSubTitle5{
  position: relative;
  /*display: inline-block;*/
  float: right;
  margin-top: 1px;
  margin-right: 20px;
  margin-left: 20px;
  /* margin-bottom: 6px;*/
  font-size: 16px;
  font-family: "helvetica";
  color: #000000;
  /*font-weight: bold;*/
}

.PostSubTitle0{
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-family: "helvetica";
  color: #000000;
  font-weight: bold;
}

.PostSubTitle03{
  position: relative;
  display: inline-block;
  top: 125px;
  left: 75px;
  font-size: 25px;
  font-family: "helvetica";
  color: #000000;
  font-weight: bold;
}

.mainbutton {
  position: relative;
  margin-top: 20px;
  margin-bottom: 5px;
}

.RequestListing{
  position: relative;
  margin-top: 20px;
  height: 180px;
  width: 650px;
  font-family: "helvetica";
  border: 2px solid #5B26F1;
  border-radius: 45px;
  padding: 10px;
}

.InboxMsgListing{
  position: relative;
  margin-top: 20px;
  height: 120px;
  width: 650px;
  font-family: "helvetica";
  border: 2px solid #5B26F1;
  border-radius: 45px;
  padding: 10px;
}

.MessageBox{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;
  width: 650px;
  font-family: "helvetica";
  font-size: 18px;
  border: 2px solid #000000;
  border-radius: 18px;
  padding: 10px;
}

.SmallTextBox{
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 30px;
  width: 700px;
  font-family: "helvetica";
  font-size: 18px;
  border: 2px solid #5B26F1;
  border-radius: 18px;
  padding: 5px;
}

.LargeTextBox{
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 180px;
  width: 695px;
  font-family: "helvetica";
  font-size: 18px;
  border: 2px solid #5B26F1;
  border-radius: 18px;
  padding: 5px;
}

.InputFieldName{
  font-family: "helvetica";
  color:#5B26F1;
  margin-top: 10;
  font-size: 22px;
  margin-right: 10;
}

#checkboxtext{
  font-family: "helvetica";
  color:#5B26F1;
  font-size: 22px;
}

.input:focus, .textarea:focus, .select:focus{
  outline: none;
}
